* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 109px;
}

.header__container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 109px;
  display: flex;
  align-items: center;
}

.grey {
  background-color: #EDF2EC;
}

body {
  font-family: "Inter", sans-serif;
}

.header {
  padding-top: 42px;
  padding-bottom: 42px;
}
.header__logo {
  display: flex;
  align-items: baseline;
}

.logo__title {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.36px;
  color: #000;
}

.menu {
  margin-left: auto;
}
.menu__list {
  display: flex;
}
.menu__item {
  margin-left: 46px;
}
.menu__link {
  color: #010201;
  font-family: "Inika", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 50px;
  transition: color 0.3s linear;
}
.menu__link:hover {
  color: #E06733;
}

.menu__link.active {
  color: #E06733;
}

.welcome__block {
  display: flex;
  justify-content: space-between;
  padding-bottom: 53px;
  padding-top: 56px;
}
.welcome__leafs {
  width: 449px;
}
.welcome__about {
  width: 549px;
  margin-top: 43px;
}
.welcome__plants-span {
  color: #499A18;
}
.welcome__text {
  font-family: "Inter", sans-serif;
  color: #636060;
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  margin-bottom: 48px;
}

.weclome__btn {
  border: 2px solid #E06733;
  border-radius: 10px;
  background-color: transparent;
  padding: 10px 20px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  width: 158px;
  height: 44px;
  transition: all 0.3s linear;
}
.weclome__btn:hover {
  color: #fff;
  background-color: #E06733;
}

h1 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
  color: #717171;
  margin-bottom: 42px;
}

.about__block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 94px;
  margin-top: 92px;
}
.about__desc {
  width: 605px;
  margin-top: 66px;
}
.about__title {
  color: #499A18;
  font-family: "Inika", serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 52.12px;
  width: 463px;
  margin-bottom: 40px;
}
.about__span {
  color: #E06733;
}
.about__text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #636060;
}

.service {
  padding-bottom: 26px;
}
.service__item {
  display: flex;
  align-items: center;
  padding-top: 40px;
  margin-bottom: 40px;
}

.servise__title {
  color: #499A18;
  font-family: "Inika", serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 52.12px;
  width: 306px;
  margin-right: 142px;
}

.btn {
  border: 1px solid #E06733;
  border-radius: 5px;
  background-color: transparent;
  font-family: "Inika", serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 26.06px;
  color: #E06733;
  width: 160px;
  height: 50px;
  margin-right: 38px;
  transition: all 0.3s linear;
}
.btn:hover {
  color: #fff;
  background-color: #E06733;
}

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  width: 330px;
  height: 450px;
  margin-bottom: 55px;
  transition: all 0.5s linear;
}
.card__text-block {
  padding-top: 10px;
  border: 1px solid #E3E1D5;
  border-radius: 0 0 20px 20px;
}
.card__text {
  font-family: "Inter", sans-serif;
  color: #717171;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin-bottom: 36px;
}

.card__img {
  width: 329px;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0 0;
}

h3 {
  font-family: "Inter", sans-serif;
  color: #E06733;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  margin-bottom: 12px;
}

.prices__block {
  display: flex;
  justify-content: space-between;
  margin-top: 38px;
  margin-bottom: 108px;
}
.prices__title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 48.41px;
  color: #000;
}
.prices__list {
  margin-top: 60px;
  border: 1px solid #E3E1D5;
  border-radius: 20px;
  padding: 34px 41px;
}
.prices__list-item {
  position: relative;
  background-color: #EDF2EC;
  border-radius: 20px;
  color: #000;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  width: 250px;
  height: 50px;
  padding: 16px 40px 16px 40px;
  margin-bottom: 32px;
  display: flex;
  align-items: center;
}
.prices__list-item:nth-child(3) {
  margin-bottom: 0;
}
.prices__cirl {
  position: relative;
  width: 16px;
  height: 16px;
  background-color: #D9D9D9;
  border-radius: 50%;
  margin-left: auto;
  cursor: pointer;
}
.prices__item-2 {
  width: 452px;
}
.prices__gardeners-span {
  color: #499A18;
}

.prices__title-second {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 48.41px;
  color: #000;
  line-height: 50px;
  -moz-text-align-last: right;
       text-align-last: right;
  margin-bottom: 38px;
}

.prices__img {
  margin-top: 39px;
  display: flex;
  margin-left: auto;
}

.prices__btn {
  display: flex;
  margin-left: auto;
  align-items: center;
  margin-right: 0;
  justify-content: center;
}

.prices__mark {
  position: relative;
  left: 6px;
  bottom: 7px;
  display: inline-block;
  border-left: 1px solid #717171;
  border-bottom: 1px solid #717171;
  width: 5px;
  height: 5px;
  z-index: 10;
  transform: rotate(-45deg);
}

.contacts__block {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}
.contacts__title {
  position: relative;
  left: 25px;
  font-family: "Inika", serif;
  color: #499A18;
  font-weight: 700;
  font-size: 40px;
  line-height: 52.12px;
  margin-top: 7px;
}
.contacts__city {
  display: flex;
  align-items: center;
  width: 450px;
  height: 50px;
  background-color: #D6E7D2;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.0025));
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  color: #717171;
  padding: 5px 35px 5px 22px;
  margin-top: 97px;
  letter-spacing: 1.1px;
  cursor: pointer;
}
.contacts__circ {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #AEA1A1;
  margin-left: auto;
  cursor: pointer;
}

.contacts__mark {
  position: relative;
  left: 6px;
  bottom: 16px;
  display: inline-block;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  width: 5px;
  height: 5px;
  z-index: 10;
  transform: rotate(-45deg);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
.footer__copy-link {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: #000;
}
.footer__rs-link {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: #000;
}
.footer__list {
  display: flex;
  justify-content: space-between;
  width: 188px;
}

.footer__copy-2022 {
  margin-left: 18px;
  margin-right: 16px;
}

.footer__rs {
  margin-left: 20px;
}

.blur {
  filter: blur(5px);
  transition: all 0.5s linear;
}

.btn__plant.active {
  color: #fff;
  background-color: #E06733;
}

.btn__lawn.active {
  color: #fff;
  background-color: #E06733;
}

.btn__garden.active {
  color: #fff;
  background-color: #E06733;
}

.prices__acc-first {
  display: none;
  position: absolute;
  top: 45px;
  left: 0;
  width: 250px;
  padding: 0px 40px 12px 40px;
  z-index: 11;
  background-color: #D6E7D2;
  border-radius: 0px 0px 20px 20px;
}
.prices__text {
  font-family: "Inter", sans-serif;
  font-size: 10px;
  font-weight: 300;
  line-height: 10px;
  color: #717171;
  margin-bottom: 5px;
  border-top: 1px solid #E3E1D5;
  padding-top: 6px;
}
.prices__hour-color {
  font-family: "Inter", sans-serif;
  color: #E06733;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
}
.prices__hour {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 12px;
}
.prices__order {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  border-radius: 10px;
  background-color: #fff;
  width: 86px;
  height: 25px;
  color: #717171;
}

.prices__acc-second {
  display: none;
  position: absolute;
  top: 45px;
  left: 0;
  width: 250px;
  padding: 0px 40px 12px 40px;
  z-index: 11;
  background-color: #D6E7D2;
  border-radius: 0px 0px 20px 20px;
}

.prices__acc-third {
  display: none;
  position: absolute;
  top: 45px;
  left: 0;
  width: 250px;
  padding: 0px 40px 12px 40px;
  z-index: 11;
  background-color: #D6E7D2;
  border-radius: 0px 0px 20px 20px;
}

.city__drop {
  display: none;
  position: absolute;
  top: 197px;
  left: 57%;
  background-color: #DCE9D9;
  width: 450px;
  height: 234px;
  padding: 27px 25px 31px 35px;
  color: #499A18;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 1.1px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  z-index: 111;
}
.city__item {
  border-bottom: 1px solid #D9D9D9;
  margin-bottom: 6px;
}
.city__item:hover {
  color: #717171;
  border-bottom: 1px solid #717171;
  cursor: pointer;
}

.city__cards {
  position: relative;
}
.city__card {
  background-color: #EDF2EC;
  border: 1px solid #000;
  border-radius: 20px;
  padding: 17px 76px 32px 33px;
  width: 448px;
  height: 214px;
}
.city__state {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 1.1px;
  color: #000;
}
.city__state-span {
  color: #717171;
  margin-left: 87px;
}
.city__phone {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 1.1px;
  color: #000;
}
.city__phone-span {
  color: #717171;
  margin-left: 65px;
}
.city__adress {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 1.1px;
  color: #000;
  margin-bottom: 18px;
}
.city__adress-span {
  color: #717171;
}
.city__phone-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inika", serif;
  font-weight: 700;
  font-size: 10px;
  line-height: 13.03px;
  text-align: center;
  color: #717171;
  border: 1px solid #E06733;
  border-radius: 5px;
  width: 122px;
  height: 26px;
  margin-left: 128px;
}

.Canandaigua {
  display: none;
  position: absolute;
  top: 166px;
  left: -509px;
}

.New__York-City {
  display: none;
  position: absolute;
  top: 166px;
  left: -509px;
}

.Yonkers {
  display: none;
  position: absolute;
  top: 166px;
  left: -509px;
}

.Sherrill {
  display: none;
  position: absolute;
  top: 166px;
  left: -509px;
}

.hamburger__menu {
  position: fixed;
  top: 0;
  right: -40%;
  width: 40%;
  height: 100%;
  background-color: #fff;
  transition: all 0.3s linear;
  padding: 130px 40px 215px 40px;
  z-index: 11;
}
.hamburger__list {
  text-align: center;
}
.hamburger__link {
  color: #010201;
  font-family: "Inika", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 50px;
}
.hamburger__link:hover {
  color: #E06733;
}

.hamburger__item .active {
  color: #E06733;
}

.hamburger__menu.active {
  right: 0;
}

.lock {
  overflow: hidden;
}

@media (max-width: 1100px) {
  .header__container {
    padding: 0 50px;
  }
  .container {
    padding: 0 50px;
  }
  .header {
    padding-top: 35px;
    padding-bottom: 35px;
  }
  .menu__item {
    margin-left: 47px;
  }
}
@media (max-width: 1250px) {
  .welcome__block {
    flex-direction: row-reverse;
    padding-bottom: 72px;
  }
  h1 {
    font-size: 35px;
    margin-bottom: 30px;
  }
  .welcome__text {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 34px;
    margin-left: 5px;
  }
  .main__img {
    width: 280px;
    height: 254px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .welcome__about {
    width: 346px;
    margin-top: 38px;
  }
  .welcome__leafs {
    width: 280px;
    margin-top: 37px;
  }
}
@media (max-width: 1100px) {
  .about__title {
    font-size: 35px;
    line-height: 45.61px;
    width: 423px;
    margin: 0 auto 51px;
    text-align: center;
  }
  .about__block {
    flex-direction: column;
    margin-top: 40px;
  }
  .about__desc {
    width: auto;
    margin-top: 0;
    margin-bottom: 68px;
  }
  .about__houseplant {
    width: 250px;
    margin: 0 auto;
  }
  .about__img {
    width: 250px;
    height: 258px;
  }
}
@media (max-width: 1300px) {
  .service {
    padding-bottom: 34px;
  }
  .service__item {
    flex-direction: column;
    padding-top: 0;
    align-items: start;
  }
  .service__item:nth-child(2) {
    margin-bottom: 0;
  }
  .servise__title {
    font-size: 35px;
    line-height: 45.61px;
    margin-right: auto;
    margin-bottom: 43px;
  }
  .service__block {
    padding-top: 61px;
  }
  .btn {
    margin-right: 35px;
  }
  .card {
    width: 280px;
    height: 350px;
    margin-bottom: 137px;
  }
  .card__img {
    width: 280px;
    height: 350px;
  }
  .card__text {
    width: 203px;
    margin: 0 auto 19px;
  }
  h3 {
    margin-bottom: 9px;
  }
}
@media (max-width: 1100px) {
  .prices__title {
    font-size: 35px;
    line-height: 42.36px;
    margin-left: 14px;
  }
  .prices__list {
    margin-top: 58px;
  }
  .prices__title-second {
    font-size: 25px;
    line-height: 35px;
    text-align: right;
    margin-bottom: 28px;
  }
  .prices__item-2 {
    margin-top: 102px;
  }
  .prices__btn {
    margin-right: 0;
  }
  .prices__img {
    margin-top: 29px;
  }
  .prices__block {
    margin-bottom: 81px;
  }
}
@media (max-width: 1300px) {
  .contacts__block {
    position: relative;
    flex-direction: column-reverse;
    align-items: center;
  }
  .contacts__title {
    position: absolute;
    left: 37.5%;
    top: 33px;
  }
  .contacts__city {
    margin-top: 191px;
  }
  .contacts__img {
    width: 200px;
    height: 248.5px;
    margin-top: 249px;
    margin-left: 20px;
  }
  .contacts__woman-img {
    width: 200px;
    height: 248.5px;
    display: inline-block;
  }
}
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
  }
  .footer__copy-link {
    line-height: 24.2px;
  }
  .footer__rs-link {
    line-height: 24.2px;
  }
  .footer__copy {
    margin-top: 33px;
    margin-bottom: 16px;
  }
  .footer__rs {
    margin-bottom: 25px;
    margin-left: 0;
  }
  .footer__soc {
    margin-bottom: 23px;
  }
}
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 24px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  z-index: 12;
  margin-left: auto;
}

.line {
  width: 100%;
  height: 2px;
  background: #717171;
  margin-bottom: 5px;
  z-index: 10;
  transition: all 0.3s linear;
}
.line:last-child {
  margin-bottom: 0;
}

.hamburger.open .line1 {
  transform: rotate(-30deg) translate(-5px, 9px);
}

.hamburger.open .line2 {
  opacity: 0;
}

.hamburger.open .line3 {
  opacity: 0;
}

.hamburger.open .line4 {
  transform: rotate(30deg) translate(-5px, -9px);
}

@media (max-width: 1000px) {
  .card {
    margin-right: 15px;
    margin-left: 15px;
  }
}
@media (max-width: 800px) {
  .card {
    margin-right: 0px;
    margin-left: 0px;
  }
}
@media (max-width: 700px) {
  .header__container {
    padding: 0 25px;
  }
  .header {
    padding-bottom: 23px;
  }
  .menu {
    display: none;
  }
  .hamburger {
    display: flex;
  }
}
@media (max-width: 700px) {
  .container {
    padding: 0 25px;
  }
  h1 {
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 20px;
  }
  .weclome__btn {
    width: 100px;
    height: 34px;
    font-size: 10px;
    line-height: 20px;
    padding: 5px 15px;
  }
  .welcome__leafs {
    display: none;
  }
  .welcome__block {
    flex-direction: initial;
  }
  .welcome__text {
    margin-left: 0;
    margin-bottom: 25px;
  }
  .welcome__about {
    margin-bottom: 25px;
  }
}
@media (max-width: 700px) {
  .about__block {
    margin-top: 30px;
    margin-bottom: 32px;
  }
  .about__title {
    font-size: 25px;
    line-height: 32.57px;
    width: 288px;
    margin-bottom: 15px;
  }
  .about__text {
    font-size: 15px;
    line-height: 25px;
  }
  .about__houseplant {
    width: 150px;
  }
  .about__img {
    width: 150px;
    height: 147px;
  }
  .about__desc {
    margin-bottom: 2px;
  }
}
@media (max-width: 700px) {
  .service {
    padding-top: 30px;
  }
  .service__item {
    margin-bottom: 31px;
  }
  .servise__title {
    font-size: 25px;
    line-height: 32.57px;
    width: 187px;
    margin-bottom: 38px;
  }
  .service__btns {
    width: 295px;
  }
  .btn {
    width: 121px;
    height: 35px;
    font-size: 15px;
    line-height: 19.54px;
    margin-bottom: 9px;
    margin-right: 6px;
  }
  .btn:nth-child(2) {
    margin: 0 auto;
  }
  .cards {
    justify-content: center;
  }
  .card {
    margin: 0 15px 134px 15px;
    margin-left: 0;
    margin-right: 0;
  }
  .card:last-child {
    margin-bottom: 93px;
  }
}
@media (max-width: 700px) {
  .prices__block {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 40px;
  }
  .prices__title {
    font-size: 25px;
    line-height: 30.26px;
    text-align: center;
    margin-left: 0;
  }
  .prices__list {
    padding: 27px 21px;
    margin-top: 37px;
  }
  .prices__list-item {
    width: 180px;
    font-size: 15px;
    margin-bottom: 14px;
    padding-left: 31px;
  }
  .prices__mark {
    bottom: 5px;
  }
  .prices__img {
    display: none;
  }
  .prices__item-2 {
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-top: 21px;
  }
  .prices__title-second {
    -moz-text-align-last: initial;
         text-align-last: initial;
    text-align: center;
    font-size: 20px;
    width: 230px;
    margin: 0 auto 20px;
  }
  .prices__btn {
    margin-left: initial;
    margin: 0 auto;
  }
}
@media (max-width: 600px) {
  .contacts__title {
    font-size: 25px;
    line-height: 32.57px;
    left: 34%;
    top: 18px;
  }
  .contacts__city {
    width: 300px;
    margin-top: 139px;
    padding: 5px 22px 5px 17px;
  }
  .contacts__img {
    width: 100px;
    height: 124.25px;
    margin-top: 132px;
    margin-left: 0;
  }
  .contacts__woman-img {
    width: 100px;
    height: 124.25px;
  }
}
@media (max-width: 700px) {
  .footer__copy {
    margin-top: 22px;
  }
  .footer__rs {
    margin-bottom: 12px;
  }
}
@media (max-width: 700px) {
  .prices__acc-third {
    width: 180px;
  }
  .prices__acc-second {
    width: 180px;
  }
  .prices__acc-first {
    width: 180px;
  }
}
@media (max-width: 1300px) {
  .city__drop {
    top: 291px;
    left: 32%;
  }
  .city__card {
    top: 265px;
    left: -224px;
  }
}
@media (max-width: 1100px) {
  .city__drop {
    top: 241px;
    left: 29.5%;
  }
}
@media (max-width: 900px) {
  .city__drop {
    left: 27.5%;
  }
}
@media (max-width: 800px) {
  .city__drop {
    left: 22%;
  }
}
@media (max-width: 800px) {
  .city__drop {
    left: 18%;
  }
}
@media (max-width: 600px) {
  .city__drop {
    width: 300px;
    top: 189px;
    left: 25%;
  }
}
@media (max-width: 600px) {
  .city__card {
    top: 200px;
    left: -253px;
  }
}
@media (max-width: 500px) {
  .city__drop {
    left: 20%;
  }
}
@media (max-width: 380px) {
  .city__drop {
    left: 10.5%;
  }
}/*# sourceMappingURL=style.css.map */